// Header component

.o-header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 100%;
  padding: 0 5px;
  position: relative;
  border-bottom: 1px solid #f2f2f2;
  transition: all .3s ease;
  &:after {
    top: -8;
    transition: top .2s ease;
  }
  &.chatActive{
    margin-top: 120px;
    &:after {
      content: "";
      position: absolute;
      box-sizing: border-box;
      top: 0;
      right: 20px;
      width: 8px;
      height: 8px;
      border-top: 4px solid #000;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
    }
  }
  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  &__left {
    display: flex;
    align-items: center;
    img {
      cursor: pointer
    }
  }
  &__search {
    margin-left: 20px
  }
  &__chat {
    margin-right: 8px
  }
}
@keyframes veil {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}